@import url(http://fonts.googleapis.com/css?family=Sofia);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html,
body {
  height: 100%;
}
body {
  color: #000;
  text-align: center;
  font-family: 'Lato', sans-serif; 
  background: #f9f9f9; 
  font-weight: lighter;
}
header.masthead.clearfix{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding: 3% 10%;
}
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.ne-title{ font-family: 'Sofia', cursive;}

.ne-logo img{ vertical-align: bottom; margin-right: 10px;}
.ne-logo a{ color: #f57786 !important; font-family: 'Lato', sans-serif; font-size: 2em; font-weight: lighter; }
.ne-logo a:hover{ color: #C2C908; text-decoration: none;}
.ne-work-container{ padding-top: 40px; }
.ne-back{ margin-top: 40px; display: inline-block;  width: 100%; }
.font-so{ font-family: 'Sofia', cursive; }
.navbar-brand{ padding: 0px;}
.nav>li>a{ color: #C2C908;}
.nav>li>a:hover, .nav>li>a:focus{ background: none; color: #f57786;}
.leav{ font-weight: 300; font-size: 1.8em; padding: 10px 0; margin: 0 auto; text-align: center; line-height: 1.5; max-width: 700px;}
.ne-go-work{ opacity: .5; cursor: pointer;}
.ne-go-work a{ color: #f57786;}
.ne-go-work a:hover{ color: #C2C908;}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: url(../img/sarape.jpg) bottom; 
  background-size: cover; 
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background: rgba(5, 5, 5, 0.6);
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li > a {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  color: #fff
}


/* Work */
.ne-work{
	padding-bottom: 100px
}

.ne-vs-header {
	margin: 0 auto;
	padding: 2em;
	width: 95%;
	color: #505050;
	text-align: center;
	-webkit-backface-visibility: hidden;
}

.ne-vs-nav {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.ne-vs-nav li {
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
}


.ne-vs-nav li a {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	padding: 5px 0;
	outline: none;
	border-top: 1px solid #f57786;
	border-bottom: 1px solid #f57786;
	color: #777;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: lighter;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
}

.ne-vs-nav li a:hover,
.ne-vs-nav li a:focus{
	border-color: #C2C908;
}
.ne-vs-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	min-height: 100%;
	width: 100%;
	padding-bottom: 100px;
}

.ne-vs-wrapper > section {
	background: rgba(0,0,0,0.03);
	margin: 30px;
	padding: 40px
}

/* inner content */
.ne-vs-content {
	position: relative;
	margin: auto;
	padding: 1em 0;
	width: 95%;
	text-align: left;
	font-size: 1.5em;
}

.ne-vs-content h2 {
	position: relative;
	margin: 30px 0 40px;
	color: #893027;
	font-weight: 700;
	font-size: 3em;
}

.ne-vs-content p {
	margin: 0 0 20px 0;
	padding: 0;
}
.ne-description{ padding-top: 5%; color: #89867e; font-weight: lighter;}
.ne-description a{
	color:#f57786; 
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
}
.ne-description a:hover{ 
	text-decoration: none; color: #C2C908;
}
.ne-description p a{ font-size: .65em; }
.ne-description .fa-anchor:before, .fa-child:before{ font-size: .65em; text-align: center;}
.fa-child:before{ margin-right: 5px;}

/* Bottom Top */
.ne-top{
  display: inline-block;
  position: fixed;
  bottom: 13px;
  right: 40px;
  color: #777;
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.ne-top:hover{ color: #C2C908; }
.ne-top.ne-is-visible, .ne-top.ne-fade-out, .no-touch .ne-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.ne-top.ne-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.ne-top.ne-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .7;
}
.no-touch .ne-top:hover {
  background-color: #e86256;
  opacity: 1;
}
/* Skills */
.ne-skills{
	padding: 50px 0px;
	background: #232325;
}
.ne-skills .container{
	width: 100%;
	height: 100%;
	color: #8e898e;
}
.ne-skills h1{
	color: #fff;
	margin-top: 0px;
}
.ne-skills h4{
	color: #f57786;
	opacity: .6;
}

/* Footer */
footer{
	background: #fff;
}
footer a,
.masthead-nav > li > a{
  font-weight: lighter !important;
  color: #f57786 !important;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
}

footer a:focus,
footer a:hover,
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  color: #C2C908 !important;
  text-decoration: none;
}
.inner {
  padding: 30px;
  padding-bottom: 0px;
  color: #f9f9f9;
}
.ne-copy{
	color: #232325;
	font-size: 10px;
}
/* Media queries */
@media (min-width: 300px) and (max-width: 768px){
	.site-wrapper{
		display: inherit;
	}
}
@media (min-width: 768px) {

  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .masthead {
    position: absolute;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
@media screen and (max-width: 72.875em) {

	.ne-vs-header,
	.ne-vs-wrapper {
		font-size: 80%;
	}

	.ne-vs-content {
		width: 85%;
	}

	.ne-vs-content h2 {
		font-size: 1.8em;
	}

	.ne-vs-nav li a {
		width: 160px;
	}

}

@media screen and (max-width: 45.25em) {


	.ne-vs-content h2 {
		margin: 0 0 1em;
	}

	.ne-vs-wrapper {
		font-size: 80%;
	}

	.ne-vs-triplelayout .ne-vs-nav li a {
		width: auto;
		font-size: 70%;
	}

	.ne-vs-wrapper > section {
		background-position: 0 28em;
		background-size: 100%;
	}

}
